{% extends 'CoolerMainBundle::layout.html.twig' %}

{% block css %}
	{{parent()}}

{% endblock css %}

{% block content %}
	<ul id="barList"></ul>
	<div style="display:none" id="map"></div>
{% endblock content %}



{% block javascript %}
	{{parent()}}
	<script src="{{asset('js/barLocator.js')}}"></script>
  
{% endblock %}  