<div class="sidemenu">
	<ul id="sidemenu">
		<li><a href="">Profile</a></li>
		<li><a href="">Timeline</a></li>
		<li><a href="">Friends</a></li>
		<li><a href="">Settings</a></li>
		<li><a href="">About Us</a></li>
		<li><a href="">Logout</a></li>
	</ul>
</div>