<div class="sidemenu">
	<h1><img src="{{asset('img/logoettitre.png')}}" alt="Cooler"></h1>
	<ul id="sidemenu">
		<li><a class="profile" href="">Profile</a></li>
		<li><a class="timeline" href="">Timeline</a></li>
		<li><a class="friends" href="">Friends</a></li>
		<li><a class="settings" href="">Settings</a></li>
		
		<li><a class="aboutus" href="">About Us</a></li>
		<li><a class="logout" href="">Logout</a></li>
	</ul>
</div>