@font-face{
    font-family : "Fairview_Regular";
    src : url('../fonts/Fairview_Regular.otf');
}
@font-face{
    font-family : "Fairview_SmallCaps";
    src : url('../fonts/Fairview_SmallCaps.otf');
}

body {
	font-family: 'Roboto';
	margin: 0;
}
.container {
	text-align: center;
	overflow: hidden;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 736px;
}
.container.start {
	background-image:none;
	background-color: #fff;
	height: 600px
}
ul {
	padding: 0;
}
.header {
	height: 50px;
	background-color: transparent;
	width: 100%;
	position: relative;
	margin-top: 15px;
}
.header img, .header a {
	height: 100%;

}
.header > img {
	height: 70%;
}
.header a#menuButton, .header a#fridgeIcon, a.backButton {
	padding: 0;
}
a#fridgeIcon {

}
a.backButton {
	position: absolute;
    right: 17px;
    top: 3px;

}
a.backButton img {
	width: 21px;
	height: 21px;

}
h1, h2 {
	text-transform: uppercase;

}
h1 {
	font-size: 6.5em;
	font-weight: normal;
	font-family: 'Fairview_SmallCaps';
	color: #eb9919;
	margin-bottom: 0;
	margin-top: 27px;
}
h2 {
	color: #513f3f;
    font-family: "Fairview_SmallCaps";
    font-size: 2em;
    font-weight: normal;
    margin-top: 0;
    position: relative;
    top: -9px;
}
img#homeLogo {
	width: 40%;
	max-width: 230px;
}
a.connect {
	width: 100%;
	display: block;
	color: #fff;
	padding: 20px auto;
	font-size: 3em;
	text-decoration: none;
}
div.connect {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	display: block;
	width: 100%
}
a.connect.login {
	background-color: #eb9919;
}
a.connect.signup {
	background-color: #513f3f;
}

.header a#fridgeIcon {
	height: 78%;
    position: absolute;
    right: 10px;
    top: -2px;
}


a.circleButton {
	background-color: #fff;
	background-position: 30px center;
	background-repeat: no-repeat;
	background-size: 25px auto;
	border-radius: 88px;
	color: #228adf;
	display: block;
	font-size: 1.2em;
	margin: 60px auto;
	max-width: 350px;
	padding: 9px;
	text-decoration: none;
	text-transform: uppercase;
	width: 79%;
	z-index: 2;
}
a.circleButton.addabeer {
	background-image: url('../img/beer.png');
}
a.circleButton.findabar {
	background-image: url('../img/findabar.png');
	/*background-size: 12% auto;*/
}
a.circleButton.shareabeer {
	background-image: url('../img/beers.png');
	/*background-size: 15%;*/
}

ul#barList li {
	-webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.4);
	width: 80%;
	padding: 30px;
	list-style-type: none;
	font-size: 2em;
	margin-bottom: 15px;
}
form {
 	left: 0;
    margin: 0 auto;
    max-width: 350px;
    position: absolute;
    right: 0;
}

input#addabeer {
	border: 4px solid white;
	border-radius: 13px;
	height: 0;
	position: relative;
	width: 0;
	max-width: 350px;
	opacity: 0;
}
input#addabeer.active {
	opacity: 1;
}

ul#autocomplete {
	width: 100%;
	margin: 0 auto;
}
ul#autocomplete li {
	display: inline-block;
	text-align: center;
	position: relative;
	max-width: 160px;
	width: 100%;
	height: 170px;
	margin: 7px;

}

ul#autocomplete li a {

	display: block;
	text-decoration: none;
	background-color: #fff;

	-webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.4);

	--webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	

}
ul#autocomplete li a:hover {

}
ul#autocomplete li img {
	height: 134px;
    margin: 0 auto;
    width: 42%;
    
}
ul#autocomplete li a h2 {
	font-size: .9em;
	font-family: 'Roboto';
    padding-left: 10px;
    position: relative;
    text-align: left;
    margin-bottom: 0;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #888;
}
ul#autocomplete li a p.teint {
	float: left;
	font-size: 0.9em;
	margin: 0;
	padding: 0 10px;
	position: relative;
	top: -6px;
	color: #111;
}
ul#autocomplete li a p.alcohol {
	font-size: 0.9em;
	margin: 0;
	padding: 0 10px;
	position: relative;
	top: -6px;
	color: #111;
}
div.clear {
	clear: both;
}
ul#autocomplete li div.fridge {
	position: absolute;
	right: 0;
	top: 0;
}
ul#autocomplete li div.fridge img {
	width: 20px;
}


