.header a#profileFridge {
	height: 78%;
    position: absolute;
    right: 10px;
    top: -2px;
}

.header a#profileClose {
	height: 60%;
    position: absolute;
    left: 10px;
    top: -2px;
}
div.profilepic {
	background-color: white;
	border-radius: 50%;
	border: 5px solid #228adf;
	width: 190px;
	height: 190px;
	margin-left: auto;
    margin-right: auto;
}

div.description {
	background-color: white;
	width: 100%;
	height: 100%; 
}

h1 {
	font-size: 1.5em;
	font-weight: normal;
	font-family: 'Roboto';
	color: black;
	margin-bottom: 0;
	margin-top: 27px;
	margin-bottom: 27px;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
    text-transform: uppercase;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */

    ul {
  		padding: 0;
 	 	margin-top: 0px;
	}

    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        width: 50%;
        float:left;
        list-style:none;
        position: relative;
    }
    .tab-links li:after {
    	content: '';
    	position: absolute;
    	width: 100%;
    	height: 1px;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	background-color: #228adf;
    	-webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .tab-links li.active:after, .tab-links li:hover:after {
    	height: 4px;
    }
 
        .tab-links a {
            padding:9px 15px;
            width: 100%;
            display:inline-block;
            font-size:16px;
            font-weight:600;
            color: black;
            transition:all linear 0.15s;
            text-decoration:none;
        }
 
        .tab-links a:hover {
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color: black;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }



.profilepic {
    position: relative;
}
.profilepic img {
    height: 90%;
    width: auto;
}

#map-canvas {
    width: 100%;
    height: 500px;
}
