div.sidemenu {
	top: 0;
	bottom: 0;
	left: -300px;
	position: absolute;
	z-index: 3;
	background-color: #fff;
	max-width: 200px;
	width: 80%;
}
ul#sidemenu {
	position: relative;
	margin: 20px 0 0 0;
	padding: 0;
	width: 100%;
	list-style-type: none;

}
/* 	SIDEBAR */
a#menuButton {
	position: absolute;
	padding: 20px;
	left: 9px;
	top: 3px;
	z-index: 4;

}
a#menuButton img {
	height: 65%;
}

.sidemenu a, .sidemenu li {
	display: block;
	text-align: center;
}
.sidemenu a {
	width: 100%;
	text-decoration: none;
	font-size: 1.8em;
	padding: 10px;
}
div.container.opacityOff::after {

	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	opacity: 0;
	display: none;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: -1;

	--webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
div.container.opacityOn::after {
	opacity: 0.78;
	z-index: 2;
};