{% extends 'CoolerMainBundle::layout.html.twig' %}

{% block css %}
	{{parent()}}
{% endblock css %}

{% block content %}
<div id="fb-root"></div>
<script src="{{asset('js/facebookconnect.js')}}"></script>

 <p>
     <a href="#" id="fbconnect" onclick="fb_login();"><img src="{{asset('img/fbconnect.png')}}" alt="Sign In With Facebook"></a>
 </p>
 <p>Or Sign in with your email adress</p>


{% endblock content %}