{% extends 'CoolerMainBundle::layout.html.twig' %}

{% block css %}
	{{parent()}}
{% endblock css %}

{% block content %}
<div class="container opacityOff start">
	{{ dump(beer) }}
</div>
{% endblock content %}